@font-face {
  font-family: "CircularStd";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "CircularStd";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}
