
$body-background-color: #fff;
$body-size: 18px;
$body-min-width: 320px;
$body-color: #000;
$body-font-family: CircularStd,Roboto, Helvetica, Arial, sans-serif;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;
