@charset "utf-8";
@import "base/minireset";
@import "base/vars";
@import "base/fonts";
@import "base/breakpoints";
@import "base/mixins";
@import "base/helps";
@import "components/Navbar";
@import "components/Hero";
@import "components/Footer";
@import "components/Skills";

html {
  background-color: $body-background-color;
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: $body-min-width;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}
body {
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

.container {
  @include make-container;
  @include make-container-max-widths;
}

img {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}



.pixel {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include media-up(md) {
    flex-direction: row;
  }
}

.pixel-info {
  order: 2;
  text-align: center;
  margin-top: 1rem;
  h2 {
    margin-bottom: 1rem;
  }
  @include media-up(md) {
    order: 1;
    width: 40%;
    text-align: left;
    margin-top: 0;
  }
}
.pixel-img {
  @include media-up(md) {
    order: 2;
    width: 60%;
  }
}

.services-title {
  max-width: 750px;
}
.services-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media-up(md) {
    margin-top: 70px;
  }
}
.services-item {
  width: 100%;
  margin-bottom: 2rem;
  @include media-up(md) {
    width: 46%;
  }
  h3 {
    font-weight: 700;
    font-size: 22px;
  }
  p {
    color: #747474;
    font-size: 18px;
    margin-top: 0.5rem;
    @include media-up(md) {
      font-size: 20px;
    }
  }
}

.together {
  padding-bottom: 90px;
  @include media-up(md) {
    padding-bottom: 140px;
  }
}
.together-title {
  max-width: 500px;
  margin-bottom: 50px;
  @include media-up(md) {
    margin-bottom: 70px;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.about-text {
  margin-top: 40px;
  max-width: 700px;
  line-height: 1.6;
}

.about-title {
  margin-top: 70px;
}

.contact-text {
  margin-bottom: 3rem;
  max-width: 700px;
}

.mt-block {
  margin-top: 80px;
  @include media-up(md) {
    margin-top: 160px;
  }
}
