.hero {
  max-width: 750px;
  margin-top: 140px;
  @include media-up(md) {
    margin-top: 200px;
  }
}
.hero-waves {
  width: 50px;
}
.hero-title {
  margin-top: 2rem;
}

.hero-text {
  margin: 1.5rem 0 2.5rem;
  max-width: 500px;
  @include media-up(md) {
    margin: 2rem 0 3rem;
  }
}
