.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  @include media-up(md) {
    padding-top: 60px;
  }
}
.logo {
  width: 50px;
  display: block;
}

.nav-list {
  display: flex;
}
.nav-item {
  margin-left: 1rem;
  @include media-up(sm) {
    margin-left: 30px;
  }
}
